In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
engine = create_engine

In [2]:
epa_data = pd.read_csv('static/data/MASTER epa_material_generation_recycling_1960-2018_0.csv')
mmg_data = pd.read_csv('static/data/MASTER Combined MMG2009-2019 Data.csv')
pop_data = pd.read_csv('static/data/populationdata1950-2019.csv')

In [3]:
epa_data = epa_data[['Year', 'Food Generated (thousand tons)']]
mmg_data = mmg_data[['State Name', 'State Abbreviation ', 'Year', 'Food Insecurity Rate (aggregate of counties)',
                    ' Estimated Number Food Insecure Individuals ', 'Low Threshold in state', 'Low Threshold Type',
                    'High Threshold in state', 'High Threshold Type', '% FI ? Low Threshold', '% FI Btwn Thresholds',
                     '% FI > High Threshold', 'Weighted Annual Dollars ', ' Cost Per Meal ', 'Child Food Insecurity Rate (aggregate of counties)',
                     ' Number Food Insecure Children (aggregate of counties) ', '% of children in FI HH with incomes at or below 185% FPL',
                    '% of children in FI HH with incomes above 185% FPL',
                     'Population']]

In [4]:
mmg_data

,State Name,State Abbreviation,Year,Food Insecurity Rate (aggregate of counties),Estimated Number Food Insecure Individuals,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ? Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,Weighted Annual Dollars,Cost Per Meal,Child Food Insecurity Rate (aggregate of counties),Number Food Insecure Children (aggregate of counties),% of children in FI HH with incomes at or below 185% FPL,% of children in FI HH with incomes above 185% FPL,Population
0,Alaska,AK,2009,0.135,"90,300",1.3,SNAP,1.85,other nutrition pgm,0.40,0.17,0.42,NaN,NaN,0.21,"38,090",0.55,0.45,698895
1,Alaska,AK,2010,0.146,"104,510",1.3,SNAP,1.85,Other Nutrition Program,0.39,0.21,0.40,"$48,031,340",$2.67,0.20,"36,670",0.54,0.46,713910
2,Alaska,AK,2011,0.147,106200,1.3,SNAP,1.85,Other Nutrition Program,0.42,0.23,0.36,"$50,209,200",$2.90,0.20,37640,0.65,0.35,722128
3,Alaska,AK,2012,0.140,"102,180",1.3,SNAP,1.85,Other Nutrition Program,0.45,0.18,0.37,"$55,653,000",$3.11,0.20,"36,650",0.61,0.39,730443
4,Alaska,AK,2013,0.142,"104,750",1.3,SNAP,1.85,Other Nutrition Program,0.41,0.19,0.40,"$59,107,000",$3.19,0.20,"37,590",0.60,0.40,737068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556,Wyoming,WY,2015,0.123,"72,260",1.3,SNAP,1.85,Other Nutrition Program,0.42,0.17,0.41,"$38,980,000",$3.01,0.17,"23,550",0.56,0.44,585613
557,Wyoming,WY,2016,0.126,"73,830",1.3,SNAP,1.85,Other Nutrition Program,0.42,0.16,0.43,"$38,653,000",$3.06,0.17,"23,500",0.56,0.44,584215
558,Wyoming,WY,2017,0.123,"71,060",1.3,SNAP,1.85,Other Nutrition Program,0.40,0.14,0.46,"$36,970,000",$3.05,0.17,"23,960",0.54,0.46,578931
559,Wyoming,WY,2018,0.122,"70,640",1.3,SNAP,1.85,Other Nutrition Program,0.42,0.14,0.44,"$37,306,000",$3.12,0.16,"21,160",0.59,0.41,577601
560,Wyoming,WY,2019,0.117,"67,750",1.3,SNAP,1.85,Other Nutrition Program,0.41,0.16,0.44,"$36,177,000",$3.12,0.14,"19,370",0.58,0.42,578759

In [6]:
epa_data

,Year,Food Generated (thousand tons)
0,1960,12200.0
1,1961,12500.0
2,1962,12600.0
3,1963,12700.0
4,1964,12700.0
...,...,...
59,NaN,NaN
60,Neg. = negligible,NaN
61,"* All other includes rubber, leather, textiles...",NaN
62,NaN,NaN
63,Source: U.S. EPA. Advancing Sustainable Materi...,NaN